body, .top, .header-text, .middle, .img-box{
    display: flex;
    flex-direction: column;
}

.header, .header-links, .header-main, .middle-imgs{
   display: flex;
}

* {
    font-family: "Roboto", sans-serif;
}

.top {
    background-color: #1F2937;
    color: #f9f9f9;
    padding: 0 0 50px 0;
}

.middle {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.bottom {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 0;
}

.bottom .text {
    padding: 0 15%;
}

.header .logo {
    font-size: 24px;
}

.header-link {
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
}

.middle .header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0 0 30px 0;

}

.img-box {
    align-items: center;
    flex-basis: calc(33.33% - 20px);
    max-width: 200px;

}

.img-box .text {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.middle-imgs {
    justify-content: space-between;
    width: 50%;
}