body, .top, .header-text, .middle, .img-box{
    display: flex;
    flex-direction: column;
}

.header, .header-links, .header-main, .middle-imgs{
   display: flex;
}

* {
    font-family: "Roboto", sans-serif;
}

.top {
    background-color: #1F2937;
    color: #f9f9f9;
    padding: 20px 200px 50px 200px;
}

.middle {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.bottom {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 50px 0;
}

.bottom .text {
    padding: 0 15%;
}

.header .logo {
    font-size: 24px;
}

.logo {
    width: 50%;
}

.header-links {
    width: 50%;
    justify-content: flex-end;
}

.header-link {
    font-size: 18px;
    padding: 0 15px;
}

.header-main {
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 100%;
    padding: 0 0 10px 0;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 70%;
    padding: 0 0 15px 0;
}

.signup {
    width: 120px;
    height: 30px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
}

.header-main img{
    border-radius: 3px;
}

.middle .header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0 0 30px 0;
}

.img-box {
    align-items: center;
    max-width: 200px;
}

.header{
    padding: 0 0 50px 0;
    justify-content: space-between;
}

.header-text {
    align-items: left;
    justify-content: flex-start;
    width: 50%;
}

.img-box img {
    border-radius: 25px;
    border: 2px solid blue;
}

.img-box .text {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.middle-imgs {
    justify-content: space-between;
    width: 50%;
}